@()

<!DOCTYPE html>

<html>
    <head>
        <title>Prioritized Todo</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/libs/bootstrap.min.css")">

        <script src="@routes.Assets.at("javascripts/libs/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/libs/angular-resource.min.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/services.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controllers.js")" type="text/javascript"></script>

    </head>
    <body ng-app="prioTodo">
        <div ng-controller="TodoCtrl">
            <div id="todoList">
                <div class="item" ng-repeat="item in todoItems">{{item.category + item.priority + ' - ' + item.title}}</div>
            </div>
        </div>
    </body>
</html>
